*{
    font-family: 'Open Sans', sans-serif !important;
}
h1, h2, h3 {
    font-family: 'Bebas Neue', cursive !important;
    color: white;
}
p { 
    color: white;
}
h1{ font-size: 80px !important; }
h2{ font-size: 36px !important; }
h3{ font-size: 24px !important; }
html, body, header, main{
    height: 100%;
    scroll-behavior: smooth;
}
/* Change background nav opacity, and font*/
.navbar-custom {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 700;
}
.jumbotron {
    min-height: 100vh;
    /* centering */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    margin-bottom: 0;
}
/* Centering Text On Jumbotron */
.bg-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
/* Coloring button */
.btn-primary-custom {
    background-color: rgb(241, 183, 22);
    color: black;
    font-weight: 700;
}
.btn-primary-custom:hover {
    background-color: rgb(238, 172, 18);
    box-shadow: 0 0 2px 2px rgb(241, 183, 22, 0.8);
}
/* background for each page */
#home { 
    background-image: linear-gradient(360deg, rgba(0,0,0,1) 5%, rgba(11,11,11,0.8) 18%, rgba(37,37,37,0.6) 37%, rgba(255,255,255,0) 85%),url(assets/main-bg-c.jpg);
}
#gameplay { 
    background-image: linear-gradient(360deg, rgba(0,0,0,1) 2%, rgba(11,11,11,0.8) 10%, rgba(37,37,37,0.6) 17%, rgba(255,255,255,0) 85%), 
    linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(11,11,11,0.8) 10%, rgba(37,37,37,0.6) 17%, rgba(255,255,255,0) 85%), 
    url(assets/the-games-bg.jpg)
}
#features { 
    background-image: linear-gradient(360deg, rgba(0,0,0,1) 2%, rgba(11,11,11,0.8) 8%, rgba(37,37,37,0.6) 15%, rgba(255,255,255,0) 85%), 
    linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(11,11,11,0.8) 8%, rgba(37,37,37,0.6) 15%, rgba(255,255,255,0) 85%), 
    url(assets/features.jpg);
}
#system-req { 
    background-image: linear-gradient(360deg, rgba(0,0,0,1) 2%, rgba(11,11,11,0.8) 5%, rgba(37,37,37,0.6) 10%, rgba(255,255,255,0) 85%), 
    linear-gradient(180deg, rgba(0,0,0,1) 2%, rgba(11,11,11,0.8) 5%, rgba(37,37,37,0.6) 10%, rgba(255,255,255,0) 85%), 
    linear-gradient(90deg, rgba(0,0,0,1) 19%, rgba(11,11,11,0.8) 36%, rgba(37,37,37,0.6) 56%, rgba(255,255,255,0) 85%), 
    url(assets/requirements.png);
}
#top-scores { 
    background-image: linear-gradient(360deg, rgba(0,0,0,1) 5%, rgba(11,11,11,0.8) 18%, rgba(37,37,37,0.6) 37%, rgba(255,255,255,0) 85%), 
    linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(11,11,11,0.8) 18%, rgba(37,37,37,0.6) 37%, rgba(255,255,255,0) 85%), 
    url(assets/top-scores-bg.jpg);
}
#about{ 
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(11,11,11,0.8) 18%, rgba(37,37,37,0.6) 37%, rgba(255,255,255,0) 85%), 
    url(assets/newsletter-bg.jpg);
}
#system-req p {
    font-size: 14px;
}
ul li {
    color: rgb(241, 183, 22);
}
table{
    border: 1px solid white;
}
table th{
    color: rgb(241, 183, 22);
    border-right: 1px solid white;
    padding: 10px 0 0 10px ;
}
table td {
    color: white;
    font-size: 14px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0 10px 15px 10px;
}
.img-user-topscore {
    max-width: 60px;
    height: auto;
    box-shadow: 5px 2px 0px 0px rgb(241, 183, 22);
    border-radius: 50%;
}
.card {
    background-color: rgb(54, 54, 54);
    max-width: 400px;
}
.top-score-name {
    color: rgb(241, 183, 22);
    margin: 0;
}
.nav-link {
    color: grey;
}
.nav-link:hover {
    color: white;
}
.footer-info {
    background-color: rgb(9, 9, 9);
    font-size: 12px;
    font-weight: 700;
}
.bottom-nav{
    padding: 0 .3rem;
}
hr {
    background-color: gray;
    display: block;
    border-style: inset;
    border-width: 1px;
    margin: 0;
}
@media only screen and (max-width: 420px) {
    .col-sm-nav {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 0;
        text-align: center;
    }
    .bottom-nav-sm {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    }
  }